.title{
  font-size:100px;
  text-align: center;
  color:yellow;
  -webkit-text-stroke: 3px blue;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  padding-bottom: 50px;

}

body{
  background-image: url(poke.jpg);
  background-size: cover;
}




.blackboard.question{
  margin-top:150px;
}

.blackboard {
  position: relative;
  margin: 0 auto 1.5rem;
  padding: 1.6rem 1rem;
  font-size: 1.2rem;
  color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 4px #fff inset;
  background-color: rgba(0,0,0,0.9);
 }

 .blackboard.answer{
  position: relative;
  margin: 0 auto 1.5rem;
  padding: 1.6rem 1rem;
  width: 100%;
 }

 .blackboard.answer p {
  margin-left: 1.7rem;
 }

 
 .blackboard .blink-before {
  margin: 0 auto 1.5rem;
  font-size: 1.2rem;
 }
 .blackboard a {
  text-decoration: none;
  color: #fff;
 }
 .blackboard .blink-before::before {
  content: '▶';
  position: absolute;
  left: 1rem;
  animation: blink 1.4s infinite;
 }
 .blackboard p:last-of-type {
  margin-bottom: 0;
 }
 /* 回り込み */
 .float-r {
  position: relative;
  margin: 0 auto 1.5rem;
  padding: 1.6rem 1rem;

  float: right;
 }
 /* 回り込み解除 */
 .clearfix {
  zoom: 1;
 }
 .clearfix:after {
  clear: both;
  content: "";
  display: block;
 }
 /* 点滅 */
 @keyframes blink {
  50% { opacity: 0; }
 }
 @-webkit-keyframes blink {
  50% { opacity: 0; }
 }